<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - NRAKO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target=".navbar-collapse">
                    @ViewBag.Title
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <br />
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.Encode(User.Identity.Name)
                        @Html.ActionLink("Sign Out", "Logout", "User", new { @class = "btn btn-primary btn-lg" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "User", new { @class = "btn btn-primary btn-lg" })</li>
                        <br />
                        <li>@Html.ActionLink("Sign In", "Login", "User", new { @class = "btn btn-primary btn-lg" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Demo NRAKO</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
